{% extends "_base.html" %}
 
{% block title %}
    Main page
{% endblock %}
{% block content %}
    <style>
        body {
            height: 200vh;
        }
    </style>

    <div class="text-center">
        <header class="lg:px-16 px-4 bg-white flex flex-wrap items-center py-4 shadow-md">
            <div class="flex-1 flex justify-between items-center">
                <a href="#" class="text-xl">Company</a>
            </div>
    
            <label for="menu-toggle" class="pointer-cursor md:hidden block">
              <svg class="fill-current text-gray-900"
                xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                <title>menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
              </svg>
            </label>
            <input class="hidden" type="checkbox" id="menu-toggle" />
    
            <div class="hidden md:flex md:items-center md:w-auto w-full" id="menu">
                <nav>
                    <ul class="md:flex items-center justify-between text-base text-gray-700 pt-4 md:pt-0">
                        <li><a class="md:p-4 py-3 px-0 block" href="#">AboutUs</a></li>
                        <li><a class="md:p-4 py-3 px-0 block" href="#">Treatments</a></li>
                        <li><a class="md:p-4 py-3 px-0 block" href="#">Blog</a></li>
                        <li><a class="md:p-4 py-3 px-0 block md:mb-0 mb-2" href="#">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="box-border w-32 h-32 border-4 border-slate-500 p-10 rounded font-pixel">
            <p class="text-center">hello</p>
        </div>
        <div class="box-content w-32 h-auto border-4 p-4 mt-4 border-slate-500 font-pixel">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam asperiores possimus saepe voluptatem rerum error deleniti eum cupiditate praesentium minima veniam, tenetur vero non suscipit, recusandae veritatis expedita autem omnis quo accusamus? Alias adipisci asperiores aperiam nisi saepe qui est enim assumenda pariatur, debitis, praesentium ipsa excepturi. Tempore, ipsam. Doloremque!
        </div>
        <div class="flex gap-2 p-4 justify-evenly">
          <div class="p-4 text-white bg-red-500">1</div>
          <div class="p-4 text-white bg-red-500">2</div>
          <div class="p-4 text-white bg-red-500">3</div>
          <div class="p-4 text-white bg-red-500">4</div>
          <div class="p-4 text-white bg-red-500">5</div>
          <div class="p-4 text-white bg-red-500">6</div>
        </div>
    
        <div class="color-change text-center">
            <h1 id="text" class="text-2xl py-2 px-4 font-pixel">hello world</h1>
            <button onclick="change()" id="button" class="font-pixel text-white bg-blue-500 hover:bg-blue-700 rounded" style="padding: 0.5rem 1rem">click me</button>
        </div><hr>
    
        <div class="date-time text-center py-3">
            <!-- <p id="result" class="text-3xl"></p> -->
            <p id="result1" class="text-3xl"></p>
        </div><hr>
    
        <div class="table text-center">
            <button id="show" class="px-2 py-1 bg-green-500 hover:bg-green-700 mr-5" onclick="show()">show</button>
            <button id="hide"class="px-2 py-1 bg-red-500 hover:bg-red-700" onclick="hide()">hide</button>
            <table id="table" class="mt-3 table-auto border-collapse border border-gray-300 shadow-lg">
                <thead>
                    <tr class="bg-yellow-200">
                        <th class="px-6 py-4 border border-gray-300">รายการที่ 1</th>
                        <th class="px-6 py-4 border border-gray-300">รายการที่ 2</th>
                        <th class="px-6 py-4 border border-gray-300">รายการที่ 3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="px-6 py-4 border border-gray-300 text-center">8</td>
                        <td class="px-6 py-4 border border-gray-300 text-center">16</td>
                        <td class="px-6 py-4 border border-gray-300 text-center">32</td>
                    </tr>
                    <tr class="bg-gray-100">
                        <td class="px-6 py-4 border border-gray-300 text-center">64</td>
                        <td class="px-6 py-4 border border-gray-300 text-center">128</td>
                        <td class="px-6 py-4 border border-gray-300 text-center">256</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><hr>
    
    <div class="flex">
        <div class="n1">
            <label for="">Number #1</label>
            <input type="number" id="n1">
        </div>
        <div class="n2"></div>
            <label for="">Number #2</label>
            <input type="number" id="n2">
        </div>
        <div class="n3">
            <label for="">Number #3</label>
            <input type="number" id="n3">
        </div>  
    </div>

{% endblock content %}
